section{
    border: 2px;
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 1300px;

}
button{
    position: relative;
    margin-bottom: 10px;
    
}
h2{
    align-content: center;
}