section{
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 30px;
    zoom: 90%;
}
.modal-header{
    float: left;
}


button{
    position: relative;
    margin-bottom: 10px;
    
}

table {table-layout: inherit;
}

