<section  >
  <div class="form-group">
    <label for="amount"><h4>Show Coupons With A Price Lower Then This</h4></label>
    <input type="number" class="form-control" id="amount" [(ngModel)]="price" placeholder="Enter Price" name="amount" required>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
  </div>
  
  <br>
  <button type="button" class="btn-primary" (click) = "showCoupons()">Submit</button>
</section  >

<section  >
  <table class=" table table-dark table-hover" style="float: left ">
      <thead>
        <tr>
          <th>ID:</th>
          <th>Category:</th>
          <th>Title:</th>
          <th>Messege:</th>
          <th>Image:</th>
          <td>Stock:</td>
          <th>Price:</th>
          <th>Start Date:</th>
          <th>Exparetion:</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of companyCoupons" >
          <td >{{c.id}}</td>
          <td >{{c.type}}</td>
          <td>{{c.title}}</td>
          <td style="width: 45%"  >{{c.messege}}</td>
          <td> <img id="myImg" src="{{c.image}}" alt="Snow" style="width:75%;max-width:75px"></td>
          <td>{{c.amount}}</td>
          <td>{{c.price }}</td>
          <td>{{c.startDate | date: "dd/MM/yyyy" }}</td>
          <td>{{c.endDate | date: "dd/MM/yyyy" }}</td>
        </tr>
      </tbody>
    </table>
  </section>