
<link href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap" rel="stylesheet">
<div >
  <h3>
      <p>Top {{type}} Coupons</p>
  </h3>
</div >

<div class="card-deck">
<div *ngFor="let c of coupons"> 
<div class="card">
    <img src="{{c.image}}" alt="Denim Jeans" >
    <h5>{{c.title}}</h5>
    <p class="price">Price - {{c.price}}$</p>
    <p><button type="button" (click)="showCoupon(c)"class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Purchase</button>
    </p>
  </div> 
</div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{coupon.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
         <p> <b>Messege :</b>{{coupon.messege}}</p><div><img src="{{coupon.image}}"  ></div>
          <p><b>Valid From :</b>{{coupon.startDate | date :"yyyy-MM-dd"}}</p>
          <p><b>Experation Date :</b>{{coupon.endDate | date :"yyyy-MM-dd"}}</p>
          <p><b>In Stok :</b>{{coupon.amount}}</p>
          <p><b>Price :</b>{{coupon.price}}</p>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"  data-dismiss="modal"  data-toggle="modal" (click)="PurchaseCoupon(coupon.id)"  >   
              Purchase Coupon</button>    
        </div>
      </div>
    </div>
  </div>

 

  