section{
    margin-top: 75px;
    margin-left: 75px;
    margin-right: 50px;
}
.modal-header{
    float: left;
}


button{
    position: relative;
    margin-bottom: 10px;
    
}

table {table-layout: inherit;
}